{#{% load bootstrap4 %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'css/dice.css' %}">
    <!-- An dieser Stelle wird sanitize.css eingebunden -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
    <script src="{% static 'js/dice.js' %}" async defer></script>

{#    {%  bootstrap_css %}#}
{#    {%  bootstrap_javascript jquery='full' %}#}
</head>
<body>
{#{%  bootstrap_messages %}#}

{% block content %}

{% endblock %}

</body>
</html>