{%  extends 'game/base.html' %}
{% load static %}
{% load event_tags %}

{% block content %}
    {% if round == 1 %}
        <h3>{{ user }}, bitte würfeln.</h3>
    {% elif round == 0 %}
        <h3>Bitte Punkte eintragen.</h3>
    {% else %}
        <h3>Wurf: {{ round|add:"-1" }}</h3>
    {% endif %}
    {% if scores.final_sum < 1000%}
        <form action="" method="post" class="form-row">
            {% csrf_token %}
            <input type="hidden" value="{{ scores.final_sum|add:400 }}" name="finish"/>
            <button type="submit" name="finish-button">Spiel abschließen</button>
        </form>
    {% else %}
        <form action="" method="get" class="form-row">
            {%  if round == 0 %}
                <img class="no-label" src="{% static images|get_index:dice.0 %}" alt={{ dice.0 }} />
                <img class="no-label" src="{% static images|get_index:dice.1 %}" alt={{ dice.1 }} />
                <img class="no-label" src="{% static images|get_index:dice.2 %}" alt={{ dice.2 }} />
                <img class="no-label" src="{% static images|get_index:dice.3 %}" alt={{ dice.3 }} />
                <img class="no-label" src="{% static images|get_index:dice.4 %}" alt={{ dice.4 }} />
            {% elif round == 1  %}
                <div id="spacing"></div>
                <img class="no-label" src="{% static "img/die_0.png" %}" alt="?" />
                <img class="no-label" src="{% static "img/die_0.png" %}" alt="?" />
                <img class="no-label" src="{% static "img/die_0.png" %}" alt="?" />
                <img class="no-label" src="{% static "img/die_0.png" %}" alt="?" />
                <img class="no-label" src="{% static "img/die_0.png" %}" alt="?" />
                <input type="submit" id="roll" value="Würfeln" name="roll"/>
            {%  else %}
                <div id="dicecontainer">
                    <div id="spacing"></div>
                    <input type="checkbox" id="first" name="keep_1"/>
                    <label for="first"><img src="{% static images|get_index:dice.0 %}" /></label>
                    <input type="checkbox" id="second" name="keep_2"/>
                    <label for="second"><img src="{% static images|get_index:dice.1 %}" /></label>
                    <input type="checkbox" id="third" name="keep_3"/>
                    <label for="third"><img src="{% static images|get_index:dice.2 %}" /></label>
                    <input type="checkbox" id="fourth" name="keep_4"/>
                    <label for="fourth"><img src="{% static images|get_index:dice.3 %}" /></label>
                    <input type="checkbox" id="fifth" name="keep_5"/>
                    <label for="fifth"><img src="{% static images|get_index:dice.4 %}" /></label>
                    <input type="submit" id="roll" value="Würfeln" name="roll"/>
                </div>
            {% endif %}
        </form>
    {%  endif %}

    <table>
            <tr>
                <th></th>
                <th>{{ user }}</th>
            </tr>
        {% for pair in upper %}
            <tr>
            {%  with score=scores|get_index:pair.1 category=pair.1 %}
                <th>{{ pair.0 }}</th>
                {% if score < 0 %} <!-- bereits Punkte gespeichert -->
                    <td class="saved-points">{{ score|add:number }}</td>
                {% elif round == 1 %} <!-- neue Runde, kein Eintragen erlaubt -->
                    <td></td>
                {% elif score < 1000 %} <!-- keine Punkte gespeichert und neue Punkte möglich -->
                    <td class="possible-points">
                        {{ score}}
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="{{ score }}" name="points"/>
                            <button type="submit" class="cell-button" value={{ category }} name="category">Eintragen</button>
                        </form>
                    </td>
                {% else %} <!-- keine Punkte gespeichert, keine neuen Punkte möglich -->
                    <td class="no-possible-points">
                        <span>Streichen</span>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="cell-button" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
                {% comment %}{% if score < 1000 and round != 1 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td class="possible-points">
                            {{ score}}
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="cell-button" value={{ category }} name="category">Eintragen</button>
                            </form>
                        </td>
                    {% elif round != 1 %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:number }}</td>
                    {% endif %}
                {%  else %}
                    <td class="no-possible-points">
                        <span>Streichen</span>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="cell-button" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}{% endcomment %}
            {% endwith %}
        </tr>
        {% endfor %}
        <tr id="bonus">
            <th>Bonus</th>
            {% if scores.bonus < 1000 %}
                <td>{{ scores.bonus|add:400 }}</td>
            {%  else %}
                <td></td>
            {% endif %}
        </tr>
        <tr id="upper">
            <th>Oben</th>
            {% if scores.upper_sum < 1000 %}
                <td id="upper" >{{ scores.upper_sum|add:400 }}</td>
            {%  else %}
                <td id="upper"></td>
            {% endif %}
        </tr>
        {% for pair in lower %}
            <tr>
            {%  with score=scores|get_index:pair.1 category=pair.1 %}
                <th>{{ pair.0 }}</th>
                {% if score < 0 %} <!-- bereits Punkte gespeichert -->
                    <td class="saved-points">{{ score|add:number }}</td>
                {% elif round == 1 %} <!-- neue Runde, kein Eintragen erlaubt -->
                    <td></td>
                {% elif score < 1000 %} <!-- keine Punkte gespeichert und neue Punkte möglich -->
                    <td class="possible-points">
                        {{ score}}
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="{{ score }}" name="points"/>
                            <button type="submit" class="cell-button" value={{ category }} name="category">Eintragen</button>
                        </form>
                    </td>
                {% else %} <!-- keine Punkte gespeichert, keine neuen Punkte möglich -->
                    <td class="no-possible-points">
                        <span>Streichen</span>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="cell-button" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        {% endfor %}
        <tr id="lower">
            <th>Unten</th>
            {% if scores.lower_sum < 1000 %}
                <td>{{ scores.lower_sum|add:400 }}</td>
            {%  else %}
                <td></td>
            {% endif %}
        </tr>
        <tr id="total">
            <th>Gesamt</th>
            {% if scores.final_sum < 1000 %}
                <td>{{ scores.final_sum|add:400 }}</td>
            {%  else %}
                <td></td>
            {% endif %}
        </tr>
    </table>
{% endblock %}