{%  extends 'game/base.html' %}

{% block content %}
    <h2>Spiel-ID: {{ game }}, Runde: {{ round }}, Spieler: {{ user }}</h2>
    {%  if round != 1 %}
        {% for die in dice %}
            <button>{{ die }}</button>
        {% endfor %}
    {% endif %}
    {% if round > 0 %}
        <form action="" method="get" class="form-row">
            {%  if round == 1 %}
                <input type="hidden" value={{ dice_to_keep|default:" " }} name="dice_to_keep"/>
            {%  else %}
                <input type="checkbox" name="keep_1" style="width:30px"/>
                <input type="checkbox" name="keep_2" style="width:30px"/>
                <input type="checkbox" name="keep_3" style="width:30px"/>
                <input type="checkbox" name="keep_4" style="width:30px"/>
                <input type="checkbox" name="keep_5" style="width:30px"/>
            {% endif %}
            <input type="submit" class="btn btn-primary btn-xs" value="Würfeln" name="roll"/>
        </form>
    {%  endif %}

    <table class="table table-striped" style="width: 20%">
    <thead class="thead-dark">
        <tr>
            <th>Einsen</th>
            {% if scores.ones < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                {% if scores.ones > 0 %} <!-- wenn noch keine Punkte gespeichert wurden -->
                    {%  if round != 1 %}
                        <td>{{ scores.ones }}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ scores.ones }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value="ones" name="category">Eintragen</button>
                            </form>
                        </td>
                    {%  endif %}
                {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                    <td>{{ scores.ones|add:"300" }}</td>
                {% endif %}
                </td>
            {%  else %}
                <td></td>
                <td>
                    <form action="" method="post" class="form-row">
                        {% csrf_token %}
                        <input type="hidden" value="0" name="points"/>
                        <button type="submit" class="btn btn-primary btn-xs" value="ones" name="category">Streichen</button>
                    </form>
                </td>
            {% endif %}
        </tr>
        <tr>
            <th>Zweien</th>
            {% if scores.twos < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                {% if scores.twos > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                    {%  if round != 1 %}
                        <td>{{ scores.twos }}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ scores.twos }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value="twos" name="category">Eintragen</button>
                            </form>
                        </td>
                    {%  endif %}
                {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                    <td>{{ scores.twos|add:"300" }}</td>
                {% endif %}
            {%  else %}
                <td></td>
                <td>
                    <form action="" method="post" class="form-row">
                        {% csrf_token %}
                        <input type="hidden" value="0" name="points"/>
                        <button type="submit" class="btn btn-primary btn-xs" value="twos" name="category">Streichen</button>
                    </form>
                </td>
            {% endif %}
        </tr>
        <tr>
            <th>Dreien</th>
            {%  with score=scores.threes category='threes' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                        </td>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Vieren</th>
            {%  with score=scores.fours category='fours' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Fünfen</th>
            {%  with score=scores.fives category='fives' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Sechsen</th>
            {%  with score=scores.sixes category='sixes' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Bonus</th>
            {% if scores.bonus < 1000 %}
                <td>{{ scores.bonus|add:300 }}</td>
            {%  else %}
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <th>Oben</th>
            {% if scores.upper_sum < 1000 %}
                <td>{{ scores.upper_sum|add:300 }}</td>
            {%  else %}
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <th>Drilling</th>
            {%  with score=scores.triple category='triple' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Vierling</th>
            {%  with score=scores.quadruple category='quadruple' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Full House</th>
            {%  with score=scores.fullhouse category='fullhouse' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Kl. Straße</th>
            {%  with score=scores.small category='small' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Gr. Straße</th>
            {%  with score=scores.big category='big' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Kniffel</th>
            {%  with score=scores.kniffel category='kniffel' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Chance</th>
            {%  with score=scores.chance category='chance' %}
                {% if score < 1000 %} <!-- wenn Punkte gespeichert oder möglich -->
                    {% if score > 0 %} <!-- wenn noch keine Punkte gespeichert -->
                        <td>{{ score}}</td>
                        <td>
                            <form action="" method="post" class="form-row">
                                {% csrf_token %}
                                <input type="hidden" value="{{ score }}" name="points"/>
                                <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Eintragen</button>
                            </form>
                    {% else %} <!-- wenn bereits Punkte gespeichert wurden -->
                        <td>{{ score|add:"300" }}</td>
                    {% endif %}
                    </td>
                {%  else %}
                    <td></td>
                    <td>
                        <form action="" method="post" class="form-row">
                            {% csrf_token %}
                            <input type="hidden" value="0" name="points"/>
                            <button type="submit" class="btn btn-primary btn-xs" value={{ category }} name="category">Streichen</button>
                        </form>
                    </td>
                {% endif %}
            {% endwith %}
        </tr>
        <tr>
            <th>Unten</th>
            {% if scores.lower_sum < 1000 %}
                <td>{{ scores.lower_sum|add:300 }}</td>
            {%  else %}
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <th>Gesamt</th>
            {% if scores.final_sum < 1000 %}
                <td>{{ scores.final_sum|add:300 }}</td>
            {%  else %}
                <td></td>
            {% endif %}
        </tr>
    </thead>
    </table>
{% endblock %}